/* 待機時のスピナー表示 */
.spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: white;
  animation: spinner-anime 2s infinite;
}

@keyframes spinner-anime {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
